* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 0%, rgba(0,34,218,1) 100%);
    color: white;
    font-family: 'Raleway', sans-serif;
    width: 100%;    
}

.profile {
    margin-top: 1.5em;
    text-align: center;
}

.avatar {
    width: 6em;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 1.5em;
    margin: 0 0 5px 0;
}

h2 {
    font-size: 1.2em;
    font-weight: 100;
    margin: 0;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 1.25em 0;
}

.social-icons img {
    width: 2em;
    
}

.list-links {
    width: 100%;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.titles-list-links {
    color: rgb(54,77,204);
    font-weight: bold;
}

.list-links li {
    background-color: white;
    width: 90%;
    box-sizing: border-box;
    margin: 0 0 0.8em 0;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.9em white;
}

.list-links li a {
    text-decoration: none;
    color: black;
}